@font-face {
    font-family: 'RobotoThin';
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'RobotoLight';
    src: url(fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'RobotoMedium';
    src: url(fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'RobotoBold';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'RobotoExtraBold';
    src: url(fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}


:root {
    /* hero footer background, 
    header information section - 36px extra bold, 
    text quote section - 36 light italic */
    --dark-blue: #1f2937;
    /* hero main text - 48px extra bold
    hero logo 24px bold or extra */
    --white: #f9faf8;
    /* hero secondary text and link - 18px
    quote background */
    --grey: #e5e7eb; 
    /* Button and call to action */
    --blue: #3882f6;
}


/* Typography weight */
.extra-bold {
    font-family: 'RobotoExtraBold', sans-serif;
}
.bold {
    font-family: 'RobotoBold', sans-serif;
}
.medium {
    font-family: 'RobotoMedium', sans-serif;
}
.light {
    font-family: 'RobotoLight', sans-serif;
}
.thin {
    font-family: 'RobotoThin', sans-serif;
}


/* Typography size */ 
.big {
    font-size: 48px;
}
.med-big {
    font-size: 36px;
}
.med {
    font-size: 24px;
}
.lit-med {
    font-size: 18px;
}
.lit {
    font-size: 15px;
}


/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'RobotoRegular', sans-serif;
    font-size: 18px;
    color: var(--dark-blue);
}
section {
    padding: 0 15%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    font-family: 'RobotoMedium', sans-serif;
    font-size: 18px;
    background-color: var(--blue);
    color: var(--grey);
    border: none;
    padding: 6px 30px;
    margin: 12px 0;
    cursor: pointer;
}
section p {
    font-family: 'RobotoLight', sans-serif;
    font-size: 15px;
}
figure {
    background-color: var(--grey);
    flex: 1 1 400px;
    width: 400px;
    height: 200px;
}
.flex {
    display: flex;
    align-items: center;
}
.border-radius {
    border-radius: 9px;
}
.border {
    border: 2px solid var(--grey);
}


/* Navbar */
.navbar {
    background-color: var(--dark-blue);
    color: var(--grey);
    align-items: baseline;
    padding: 12px 15%;
}
.navbar > header {
    flex-grow: 1;
}
.logo {
    color: var(--white);
}
.navbar .navbar-link {
    color: var(--gray);
    margin: 0 12px;
}


/* Hero section */
.hero-section {
    background-color: var(--dark-blue);
    color: var(--grey);
    gap: 24px;
    padding: 120px 15%;
}
.hero-section > div {
    flex: 1 1 400px;
}
.main-heading {
    color: var(--white);
}


/* Info section */
.info-section {
    flex-direction: column;
    justify-content: center;
    padding: 0 15% 120px 15%;
}
.info-heading {
    padding: 60px 0;
}
.info-img {
    background-color: var(--grey);
    border: 2px solid var(--blue);
    width: 100px;
    height: 100px;
}


/* Quote */
.quote-section {
    font-family: 'RobotoLightItalic', sans-serif;
    background-color: var(--grey);
    padding: 120px 25%;
}


/* Signup section */
.signup-section {
    color: var(--white);
    padding: 90px 15%;
}
.signup-card {
    background-color: var(--blue);
    padding: 45px 90px;
}
.signup-card > div {
    flex-grow: 1;
}


/* Footer */
footer {
    font-family: 'RobotoThin', sans-serif;
    text-align: center;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 33px;
}


/* CONSTACTS PAGE */
form {

}