/* ----------------------- Imported fonts ----------------------- */
@font-face {
    font-family: 'RobotoThin';
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'RobotoLight';
    src: url(fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'RobotoMedium';
    src: url(fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'RobotoBold';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'RobotoExtraBold';
    src: url(fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}


/* ----------------------- General styles and rules ----------------------- */
:root {
    --dark-blue: #1f2937;
    --blue: #3882f6;
    --white: #f9faf8;
    --grey: #e5e7eb; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, main, footer {
    font: 18px 'RobotoRegular', sans-serif;
    color: var(--white);
    background-color: var(--dark-blue);
    scroll-behavior: smooth;
}
main {
    display: flex;
    flex-direction: column;
}
footer {
    text-align: center;
    padding: 33px;
}
ul {
    list-style: none;
}
/* Typography */
h1 {
    font: 48px 'RobotoExtraBold', sans-serif;
}
h2 {
    font: 36px 'RobotoExtraBold', sans-serif;
}
h3 {
    font: 24px 'RobotoBold', sans-serif;
}
a, p, li, input, textarea, form, figcaption {
    font: 18px 'RobotoLight', sans-serif;
}
a {
    color: var(--grey);
    text-decoration: none;
}
a:hover {
    color: var(--blue);
    transition: 0.4s;
}
input, textarea {
    padding: 9px 15px;
    border-radius: 6px;
    border: none;
}
textarea {
    height: 200px;
}
figcaption {
    text-align: center;
}
/* Typography colors */
.white-text {
    color: var(--white);
}
.grey-text {
    color: var(--grey);
}
.blue-text {
    color: var(--blue);
}
.dark-blue-text {
    color: var(--dark-blue);
}


/* ----------------------- Shared components ----------------------- */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.gap-12 {
    gap: 12px;
}
.gap-24 {
    gap: 24px;
}
.gap-33 {
    gap: 33px;
}
.dark-section {
    background-color: var(--dark-blue);
    color: var(--grey);
    padding: 120px 15%;
}
.white-section {
    background-color: var(--white);
    color: var(--dark-blue);
    align-items: center;
    padding: 90px 15%;
}
.grey-section {
    background-color: var(--grey);
    color: var(--dark-blue);
    padding: 120px 25%;
}
.blue-card {
    color: var(--white);
    background-color: var(--blue);
    padding: 45px 90px;
    border-radius: 6px;
}
.blue-button {
    font-family: 'RobotoMedium', sans-serif;
    font-size: 18px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 6px 30px;
    cursor: pointer;
    border-radius: 6px;
}
.blue-button:hover {
    background-color: var(--white);
    color: var(--blue);
    transition: 0.4s;
}
.white-border {
    border: 2px solid white;
}
/* Navbar & logo */
.navbar {
    padding: 12px 15%;
    align-items: baseline;
    position: fixed;
    width: 100%;
    z-index: 99;
}
.navbar .logo {
    flex-grow: 1;
    flex-basis: 120px;
}


/* ----------------------- HOME PAGE ----------------------- */
/* Hero section */
div.hero {
    flex: 1 1 300px;
}
img.hero {
    width: 300px;
    flex: 1 1 auto;
    align-self: flex-start;
}
/* Info section */
ul.info {
    justify-content: center;
}
li.info {
    flex-basis: 150px;
}
img.info {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    border: 4px solid var(--blue);
}
img.info:hover {
    width: 180px;
    height: 180px;
    transition: 0.4s;
}
/* Quote section */
section.quote {
    font: 36px 'RobotoLightItalic', sans-serif;
    text-align: justify;
}
figcaption.quote {
    font-size: 24px;
    text-align: right;
}
cite.quote {
    font-family: 'RobotoRegular', sans-serif;
}
/* Call-to-action section */
p.call-to-action {
    flex-grow: 1;
}


/* ----------------------- PRODUCTS PAGE ----------------------- */
.white-section.products {
    flex-wrap: wrap;
    justify-content: space-between;
}
.products.card {
    width: 240px;
    border-radius: 9px;
    padding: 0;
}
.products.card:hover {
    box-shadow: 6px 6px 1px var(--blue);
    transform: translate(-6px, -6px);
    transition: 0.4s;
}
.image-box {
    width: 100%;
}
.products-image {
    border-radius: 9px 9px 0 0;
    width: 100%;
    height: 240px;
    object-fit: cover;
}
.description-box {
    align-items: center;
    padding: 16px;
}


/* ----------------------- CONTACTS PAGE ----------------------- */
/* Locations and openings section */
.white-section.contacts {
    align-items: flex-start;
}
.list.contacts {
    justify-content: space-between;
}
.list-item.contacts {
    padding: 24px;
    flex-basis: 290px;
}
.list.openings {
    list-style-type: disc;
    padding-left: 42px;
}
/* Form section */
.blue-button.white-border.contacts {
    width: 50%;
    margin: 33px auto 0 auto;
}


/* ----------------------- MEDIA QUERIES ----------------------- */
/* 
@media screen and (min-width: 320px) {
} 
*/
@media screen and (max-width: 494px) {
    /* Navbar */
    .navbar .logo {
        text-align: center;
    }
    /* ----------------------- CONTACTS PAGE ----------------------- */
    .white-section.contacts {
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    /* Shared components */
    .grey-section {
        padding: 120px 10%;
    }
    .blue-card {
        padding: 45px 10%;
        border-radius: 0;
    }
    /* Navbar */
    .navbar {
        justify-content: center;
    }
    .navbar .list {
        flex-grow: 1;
        justify-content: space-between;
    }
    /* ----------------------- HOME PAGE ----------------------- */
    /* Hero section */
    img.hero {
        width: 100%;
    }
    /* Quote section */
    section.quote {
        font-size: 21px;
    }
    /* ----------------------- CONTACTS PAGE ----------------------- */
    .white-section.no-padding-smart-screen {
        padding: 0;
    }
}
/*
@media screen and (min-width: 1024px) {
} 
*/
/*
@media screen and (min-width: 1200px) {
} 
*/