/* Imported fonts */
@font-face {
    font-family: 'RobotoThin';
    src: url(fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'RobotoLight';
    src: url(fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'RobotoLightItalic';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoRegular';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'RobotoMedium';
    src: url(fonts/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'RobotoBold';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'RobotoExtraBold';
    src: url(fonts/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
}


/* General styles and rules */
:root {
    --dark-blue: #1f2937;
    --blue: #3882f6;
    --white: #f9faf8;
    --grey: #e5e7eb; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}


/* Typography */
h1 {
    font-family: 'RobotoExtraBold', sans-serif;
    color: var(--white);
    font-size: 48px;
}
h2 {
    font-family: 'RobotoExtraBold', sans-serif;
    font-size: 36px;
    color: var(--dark-blue);
}
h3 {
    font-family: 'RobotoBold', sans-serif;
    font-size: 24px;
    color: var(--white);
}
a {
    text-decoration: none;
    font-family: 'RobotoLight', sans-serif;
    font-size: 18px;
    color: var(--grey);
}
.normal-text {
    font-family: 'RobotoLight', sans-serif;
    font-size: 18px;
}


/* Typography colors */
.white-text {
    color: var(--white);
}
.grey-text {
    color: var(--grey);
}
.blue-text {
    color: var(--blue);
}
.dark-blue-text {
    color: var(--dark-blue);
}


/* Shared components */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.dark-section {
    background-color: var(--dark-blue);
    padding: 120px 15%;
    gap: 24px;
}
.white-section {
    align-items: center;
    padding: 90px 15%;
}
.grey-section {
    font-family: 'RobotoLightItalic', sans-serif;
    font-size: 36px;
    background-color: var(--grey);
    padding: 120px 25%;
}
.form-card {
    font-family: 'RobotoLight', sans-serif;
    font-size: 18px;
    color: var(--white);
    background-color: var(--blue);
    padding: 45px 90px;
    border-radius: 6px;
}
.blue-button {
    font-family: 'RobotoMedium', sans-serif;
    font-size: 18px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 6px 30px;
    margin: 12px 0;
    cursor: pointer;
    border-radius: 6px;
}
.blue-button:hover {
    background-color: var(--white);
    color: var(--blue);
    transition: 0.4s;
}
.white-border {
    border: 2px solid white;
}


/* Navbar */
.navbar {
    background-color: var(--dark-blue);
    align-items: baseline;
    padding: 12px 15%;
    position: fixed;
    width: 100%;
}
.navbar > header {
    flex: 1;
}
.navbar-list {
    gap: 12px;
}


/* ------------------ HOME PAGE ------------------ */
/* Hero section */
.dark-section > div {
    flex: 1 1 100px;
}
.hero-image {
    width: 400px;
    flex: 1 1 300px;
}

/* Info section */
.info-heading {
    padding: 42px 0;
}
.info-list {
    justify-content: center;
    gap: 39px;
}
.info-card {
    flex-basis: 150px;
}
.info-img {
    background-color: var(--grey);
    border: 4px solid var(--blue);
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}
.info-card figcaption {
    text-align: center;
}

/* Signup section */
.form-card > div {
    flex-grow: 1;
}

/* Footer */
footer {
    background-color: var(--dark-blue);
    text-align: center;
    padding: 33px;
}


/* ------------------ PRODUCTS PAGE ------------------ */
.products {
    flex-wrap: wrap;
}
.products-card {
    background-color: var(--grey);
}
.products-card > figure {
    flex-basis: 210px;
}
.products-image {
    width: 210px;
    height: 280px;
    object-fit: cover;
}


/* ------------------ CONTACTS PAGE ------------------ */
/* Locations */
.contacts.white-section {
    flex-wrap: wrap;
    padding: 90px 15% 0 15%;
}
.contacts.white-section h3 {
    color: var(--dark-blue);
    flex-basis: 100%;
    margin: 24px 0;
}
.locations.white-section h4 {
    margin-bottom: 18px;
}
.locations.white-section ul {
    justify-content: space-between;
    flex-basis: 100%;
    gap: 33px;
}
.locations.white-section li {
    flex-basis: 290px;
}
.locations-card {
    background-color: var(--grey);
    padding: 24px;
}

/* Openings */
.openings.white-section {
    color: var(--dark-blue);
    justify-content: flex-start;
}
.openings.white-section ul {
    list-style-type: circle;
    margin-left: 33px;
}

/* Form */
.contacts.form-card h3 {
    margin-bottom: 12px;
}
.contacts.form-card > input, textarea {
    font-family: 'RobotoLight', sans-serif;
    font-size: 18px;
    padding: 9px 15px;
    border-radius: 6px;
    border: none;
}
.contacts.form-card input {
    margin-bottom: 12px;
}
.contacts.form-card textarea {
    height: 200px;
}
.contacts.form-card button {
    width: 50%;
    margin: 33px auto 0 auto;
}


/* ------------------ MEDIA QUERIES ------------------ */
/* ------Smartphone------ */
/*
@media screen and (min-width: 320px) {
}
*/
/*
@media screen and (min-width: 480px) {
}
*/

/* ------iPads, tablets------ */
@media screen and (max-width: 768px) {
    /* Shared components */
    .dark-section {
        flex-direction: column;
    }
    .white-section {
        padding: 90px 0 0 0;
    }
    .form-card {
        margin: 45px 0 0 0;
        padding: 45px 33px;
        border-radius: 0;
    }
    /* Navbar */
    #wrapper {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        flex-wrap: wrap;
    }
}

/* ------Large screens, desktop------ */
/*
@media screen and (min-width: 1024px) {
} 
*/

/* ------Extra large screens, TV------ */
/*
@media screen and (min-width: 1200px) {
} 
*/